/*Color Palette
teal    #007d7b
black   #000
white   #fff
*/


html {
    display: grid;
    margin: 0 auto;

}


body {
    background-color: #000;
    width: 485px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;

    grid-column: 1;
    /*grid-template-columns: auto;*/
    text-transform: uppercase;
    text-align: center;
}
/*
.grid-item {

}
*/
.nav-grid {
grid-template-rows: 1;
}

.gallery-grid {
    /*grid-template-rows: 12;*/
    margin: 0 auto;

}

h1 {
    font-size: 3em;
    color: #007d7b;
    background-color: #fff;
    text-align: left;
    padding: 10px;
    margin: 0;
}
/*
nav {


   grid-template-columns: auto;
}
*/
nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    /*position: relative;*/

}

nav ul li:last-of-type {
    display: none;
}

nav li a {
    font-size: 1.5em;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}


#top {
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    border: 5px;
    border-color: #fff;
    z-index: 1;
}


main {
    background-color: #fff;
    padding: 10px;
}

/*
#about {

}
*/

#gallery {
    display: grid;
}

#gallery>figure {
    grid-column: 1,3;


}

img {
    position:relative;
    z-index: 0;
}

figcaption {
    position:relative;
    z-index: 1;
}

h2 {
    font-size: 2em;
    margin: 0;
}

p {
    font-size: 1.25em;
    text-transform: none;
    text-align: left;
}

figcaption, label, input, small {
    font-size: 1em;
}

footer {
    color: #fff;
}

footer p {
    text-align: center;
}

#contact {
    display: grid;
    /*grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1;*/
}

.contact-grid {

    padding: 10px;
}
/*
form {

}
*/
form h3 {
    visibility: hidden;
    margin: 0;
}

form #name,#email,#message{
    text-transform: uppercase;
    color: #007d7b;
    font-weight: bold;
    border: none;
    column-span: 80%;
    width: 80%;
    padding: 10px;
    height: 20px;
    margin: 10px;
}

label {
    text-align: left;
}

.submit {
    background-color: #007d7b;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    width: 50%;
    padding: 5px;
    margin: 10px;
}

@media screen and (min-width:880px) {
    body {
        width: 880px;
        grid-template-columns: 2;
    }

    #gallery {
        grid-template-columns: 1fr 1fr;
    }

    #gallery h2,p {
        grid-column: span 2;
    }
}

@media screen and (min-width:1300px) {
    body {
        width: 1300px;
        grid-template-columns: 3;
    }

    nav {
        text-align: right;
    }

    #gallery {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1300px;
    }
}